.main_content{
    width: 960px;
    margin:0 auto;
    height: 420px;
}
#image_area{
    margin-top: 10px;
    margin-left: 60px;
    width: 440px;
    height: 240px;
    float: left;
}
#image_area #biuuu{
    width : 320px;
    height : 220px;
    float: left;
    margin-right: 10px;
}
#image_area #view{
    width : 100px;
    height : 100px;
}
#image_area span{
    line-height: 30px;
    font-size: 12px;
}
#upload_area{
    margin-top: 50px;
    float: left;
    width: 300px;
    height: 240px;
}
#upload_area #picpath{
    width: 10px;
    height: 10px;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
}
#upload_area input{
    height: 22px;
}
#submit_button{
    clear: both;
    width: 100px;
    height: 32px;
    margin: 20px auto;
}
.button{
    display: block;
    font-size: 14px;
    font-weight: bolder;
    float: left;
    margin-left: 30px;
    width: 60px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    background: #5BB75B;
    text-decoration: none;
    font-family: verdana;
    text-align: center;
    box-shadow: 5px 5px 5px lightgray;
    color: white;
}
.button:hover{
    height: 34px;
    margin-top: -2px;
    line-height: 31px;
}
a{
    outline: none;
}